<script type="text/javascript">
	$ = layui.jquery;
	var index =null; 
	$(function() {
		
		var layer = layui.layer;
		var router = layui.router();
		var data = getParams(router.href);
		$('#m_id').val(data.mid);
		$.get('/GetMenuName', data, function(res) {
			$('#menu').text(res.name);
		});
		
		$.post('/GetArticleDetail',data ,function(res){
			//console.log(obj);
			$('#a_content').val(res.content);
			$('#a_id').val(res.id);
			$('#a_title').val(res.title);
			layui.use('layedit', function() {
				var layedit = layui.layedit;
				layedit.set({
					uploadImage : {
						data : {
							p : '1'
						},
						url : '/uploadImg' //接口url
						,
						type : 'post' //默认post
					}
				});
				index=layedit.build('a_content', {
					tool : [ 'strong' //加粗
					, 'italic' //斜体
					, 'underline' //下划线
					, 'del' //删除线

					, '|' //分割线

					, 'left' //左对齐
					, 'center' //居中对齐
					, 'right' //右对齐
					, 'link' //超链接
					, 'unlink' //清除链接
					, 'face' //表情
					, 'image' //插入图片
					],
					height : 400
				}); //建立编辑器
			});
		});
		
		$.get('/checkLogin',data ,function(res){
			if(res.code == 400){
				layer.msg('登录超时，请重新登录，即将跳转到登陆界面...', {
					time : 2000,
				}, function() {
					localStorage.removeItem('username');
					location.href = '../temp/login.html';
				});
			}
		});
	});


</script>

<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">
					<span class="layui-breadcrumb"> <a href="/">首页</a> <a id="menu"
						href="javascript:;"></a> <a href="javascript:;"><cite>编辑文章</cite></a>
					</span>
				</div>
				<input type="hidden" id="m_id">
				<input type="hidden" id="a_id">
				<div class="layui-card-body">
					<form id="lay-form" class="layui-form"
						>
						<div class="layui-form-item">
							<label class="layui-form-label">标题</label>
							<div class="layui-input-block">
								<input type="text" id="a_title"
									lay-verify="required" placeholder="请输入标题" autocomplete="off"
									class="layui-input">
							</div>
						</div>
						<textarea id="a_content" style="display: none;"></textarea>
						<div style="width: 150px; margin: 0 auto;">
							<button style="width: 150px;  margin: 20px auto;" onclick="sub()"
								class="layui-btn layui-btn-normal" lay-submit="submit" lay-filter="login_hash">提交</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<script>
	layui.use('element', function() {
		var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		console.log(element);
		element.init();

		//监听导航点击
		element.on('nav(demo_hash)', function(elem) {
			//console.log(elem)
			layer.msg(elem.text());
		});
	});	
	
	layui.use(['layer', 'form'], function() {
	      var form = layui.form,
	         $ = layui.jquery;

	      //监听提交
	      form.on('submit(login_hash)', function(data) {
	        var layIndex = layer.load(2, {
	          shade: [0.1, '#393D49']
	        });
	        var layedit = layui.layedit;
	      var  fileddata = {
	    		id :$('#a_id').val(),
	    		title:$('#a_title').val(),
	            content:layedit.getContent(index),
	            muenId:$('#m_id').val()
	       };
	        $.post('/addArticle', fileddata, function(res){
	        	layer.close(layIndex);
		         if (res.code == 400) {
		        	layer.msg('登录超时，请重新登录', {
						time : 2000,
					}, function() {
						localStorage.removeItem('username');
						location.href = '../temp/login.html';
					});
				}else if(res.code == 200)
		         {
					layer.msg('操作成功', {
						time : 2000,
					}, function() {
						//history.back(-1);
						var layer = layui.layer;
						var router = layui.router();
						var urldata = getParams(router.href);
						location.href = "#/user/index?mid="+urldata.mid;
					});
		         }
		      });
	        return false;
	      });
	    });

	
	
</script>

<style scoped>
</style>