<script type="text/javascript">
	$ = layui.jquery;
	$(function(){
		var layer = layui.layer;
		var router = layui.router();
		var data = getParams(router.href);
		$("#add").attr("href","#/user/create?mid="+data.mid);

	});
</script>
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-xs12">
			<div class="layui-card">
				<div class="layui-card-header">
					<a href="#/user/create" id="add" class="layui-btn layui-btn-sm"><i
						class="layui-icon">&#xe654;</i> 新增</a>
				</div>
				<div class="layui-card-body">
					<table id="demo_hash" lay-filter="demo"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
layui.config({
    base: '/src/js/'
  }).use(['jquery', 'mockjs', 'table'], function() {
    var $ = layui.jquery,
      layer = layui.layer,
      table = layui.table;
    var router = layui.router();
	var data = getParams(router.href);
    //第一个实例
    table.render({
      method: 'GET',
      done: function() {
        $('#demo_hash').next().css('height', 'auto');
      },
      limit: 10,
      elem: '#demo_hash',
      height: 480,
      url: '/GetArticleList?muenId='+data.mid, //数据接口
      page: true, //开启分页
      cols: [
        [ //表头
          {
            field: 'title',
            title: '标题',
            width: 750,
          }, {
            field: 'menuName',
            title: '分类',
            width: 100
          }, {
            field: 'insertTime',
            title: '时间',
            width: 110
          }, {
              field: 'op',
              title: '操作',
              width: 130,
              height:50,
              templet: function(d){
              	console.log(d);
              	return "<button lay-event='edit' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'></i></button>"+
              	"<button lay-event='del' class='layui-btn layui-btn-primary layui-btn-sm'><i class='layui-icon'></i></button>";
              }
            }
        ]
      ]
    });
  });

  layui.use('table', function(){
	  var table = layui.table;
	  
  //监听工具条
  table.on('tool(demo)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      layer.msg('ID：'+ data.id + ' 的查看操作');
    } else if(obj.event === 'del'){
    	var layer = layui.layer;
    	layer.confirm('真的删除行么', function(index){
    	  var layIndex = layer.load(2, {
              shade: [0.1, '#393D49']
            });
    	  $.post('/delArticle', data ,function(res){
    		  layer.close(layIndex);
    			if(res.code == 200){
    				obj.del();
    				layer.msg('删除成功');
    			}else{
    				layer.msg('删除失败');
    			}
    		});
      });
    } else if(obj.event === 'edit'){
    	var layer = layui.layer;
		var router = layui.router();
		var urldata = getParams(router.href);
    	window.location="#/user/create?mid="+urldata.mid + "&id="+data.id;
      //layer.alert('编辑行：<br>'+ JSON.stringify(data))
    }
  });
  });
  
	
</script>
<style scoped>
.layui-table-cell{
	height: 35px;
}
</style>